:root{
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
}
body{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-light-gray);
    min-height: 100vh;
}
h1{
    color: var(--clr-dark-blue);
    margin: 1rem;
}
p{
    font-size: 0.975rem;
    color: var(--clr-grayish-blue);
    margin: 1rem;
    margin-bottom: 0;
    padding: 0 0.5rem;
}
.qr-container{
    background-color: #f3f3f3;
    max-width: 350px;
    padding: 1rem;
    border-radius: 10px;
}

img{
    height:250px ;
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
}